@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+80s+Fade&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+80s+Fade&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    min-height: 125px;
    background-color: rgba(15, 15, 15, 0.897);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Logo de la empresa en el index*/
/* Imagen del logo en las otras páginas*/
.img-logo {
    margin-right: 10px;
    width: 175px;
}

nav a {
    color: whitesmoke;
    font-size: 22px;
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

/* Todo lo relacionado con la Navegación de las páginas */
.flex-container {
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    ;
    background-color: bisque;

}

/* Todo lo relacionado con lo que esta dentro de los botones de Navegación,y involucra todo lo que esta dentro  la etiqueta de UL (Lista no ordenada), la lista de la secuencia ordenada  */
#Beneficios ul li {
    border: none;
    list-style: none;
}

ul li {
    padding: 1rem;
    background-color: bisque;
    border: 1px solid black;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik 80s Fade', cursive;
    font-family: 'Ubuntu', sans-serif;
}

/* Todo lo relacionado con lo que esta dentro de los botones de Navegación,y involucra todo lo que esta dentro  la etiqueta de UL (Lista no ordenada), la lista de la secuencia ordenada, incluyendo tambien el elemento ancla respectivo */
nav ul li a {
    text-decoration: none;
}

/*Dentro de Footer realizamos el quitado de decoración a todos los links*/
footer a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik 80s Fade', cursive;
    font-family: 'Ubuntu', sans-serif;

}

.flex-padre {
    display: flex;
    min-height: 110vh;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5),
        ),
        /* agregar imagen */
        url("../recursos/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: "../recursos/logo.png";
    /* cambiar color */
}

#hero h1 {
    color: rgb(255, 255, 255);
    height: 440px;
    width: 430px;
    align-items: center;
    background-color: rgba(12, 12, 12, 0.925);
    background-repeat: no-repeat;
    background-position: cover;
    font-size: 80px;
    border-radius: 15px 15px 15px 15px;
}

#hero button {
    font-size: 2em;
    color: white;
    background-color: rgb(15, 15, 15);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 15px;
    border-radius: 5px 5px 5px 5px;
}

#gorras-vintage {
    margin: 50px 50px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 1300px;
    height: 700px;
    background-image: url(../recursos/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 15px 15px;
}

#sombreros-dama {
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../recursos/sombreros-dama.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container h2 {
    font-size: 70px;
    text-align: center;
    color: white;
}

.container p {
    font-size: 25px;
    text-align: center;
    color: white;
}

#sombreros-dama .carta {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#sombreros-dama .carta img {
    height: 200px;
    border-radius: 15px;
}

#sombreros-dama button {
    font-size: 1.75em;
    color: white;
    background-color: rgb(15, 15, 15);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 15px;
    border-radius: 5px 5px 5px 5px;
}

/* Imagen del ID Beneficios */
.container img {
    height: 150px;
    align-items: flex-start;
    flex-direction: column;
}

.container ul li {
    text-align: justify;
    align-items: flex-start;
}

#Beneficios .container {
    display: flex;
}

#final {
    /* background-color: black; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#final h2 {
    font-size: 70px;
}

#final button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 45px;
    width: 150px;
    background-color: burlywood;
}

/* Dentro de Footer realizamos el centrado a la etiqueta H3 */
p {
    color: white;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik 80s Fade';
    font-family: 'Ubuntu', sans-serif;
}

.flex-hijo {
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: bisque;
}

footer h3 {
    color: black;
    background-color: bisque;
}

.gorras-vintage {
    display: flex;
    margin-top: -35px;
    margin-right: 20px;
    width: 340px;
    border-radius: 10px 10px 10px 10px;
}

.flex-padre1 {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    align-items: center;
    height: 80vh;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-padre1 p {
    display: flex;
    width: 500px;
}

.flex-padre1 iframe {
    border-radius: 30px;
}

.flex-padre1 .maps {
    display: flex;
    margin-top: -35px;
    margin-right: 20px;
    width: 400px;
}

/* Estilos para pantallas medianas  Index*/
@media (max-width: 768px) {
    header {
        display: flex;
        height: 250px;
        background-color: rgba(15, 15, 15, 0.897);
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    #hero {
        margin-top: 85px;
    }

    #hero h1 {
        color: rgb(255, 255, 255);
        height: 500px;
        width: 500px;
        align-items: center;
        background-color: rgba(12, 12, 12, 0.925);
        background-repeat: no-repeat;
        background-position: cover;
        font-size: 80px;
        border-radius: 15px 15px 15px 15px;
    }

    #gorras-vintage {
        margin: 50px 50px;
        display: flex;
        text-align: center;
        align-items: center;
        width: 700px;
        height: 500px;
        background-image: url(../recursos/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px 15px 15px 15px;
    }

    .flex-padre {
        display: flex;
        min-height: 110vh;
        flex-direction: row;
        background-color: bisque;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #final h2 {
        font-size: 50px;
    }

}

/* Estilos para pantallas pequeñas del Index */
@media (max-width: 320px) {
    header {
        display: flex;
        min-height: 125px;
        background-color: rgba(15, 15, 15, 0.897);
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    #hero h1 {
        color: rgb(255, 255, 255);
        height: 250px;
        width: 230px;
        align-items: center;
        background-color: rgba(12, 12, 12, 0.925);
        background-repeat: no-repeat;
        background-position: cover;
        font-size: 40px;
        border-radius: 15px 15px 15px 15px;
    }

    #gorras-vintage {
        margin: 50px 50px;
        display: flex;
        text-align: center;
        align-items: center;
        width: 550px;
        height: 350px;
        background-image: url(../recursos/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px 15px 15px 15px;
    }

    .container h2 {
        font-size: 35px;
        text-align: center;
        color: white;
    }

    .container p {
        font-size: 15px;
        text-align: center;
        color: white;
    }

    #sombreros-dama .carta img {
        height: 100px;
        border-radius: 15px;
    }

    #Beneficios .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #final h2 {
        font-size: 30px;
    }

    .flex-hijo {
        list-style: none;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80px;
        align-items: center;
        background-color: bisque;
    }
}

/* Esta es la media Query de la sección servicios */
@media(max-width: 768px) {
    header {
        display: flex;
        height: 153px;
        background-color: rgba(15, 15, 15, 0.897);
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    #hero {
        margin-top: 50px;
    }

    .container h2 {
        font-size: 35px;
        text-align: center;
        color: white;
    }

    .container p {
        font-size: 20px;
        text-align: center;
        color: white;
    }

    #gorras-vintage {
        margin: 50px 50px;
        display: flex;
        text-align: center;
        align-items: center;
        width: 650px;
        height: 350px;
        background-image: url(../recursos/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px 15px 15px 15px;
    }

    .flex-padre1 {
        display: flex;
        flex-direction: row;
        background-image: url(../recursos/campo.jpg);
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h2 {
        display: block;
        font-size: 50px;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: white;
    }

    .flex-padre1 p {
        display: flex;
        width: 500px;
        font-size: 20px;
        color: white;
    }
 }